[Unit]
Description=Mount media

[Mount]
What=blackquad:/data/nfs/media
Where=/mnt/nfs/media
Options=noacl,nocto,rsize=32768,wsize=32768
Type=nfs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
