[Unit]
Description=Mount src

[Mount]
What=blackquad:/data/nfs/src
Where=/mnt/nfs/src
Options=noacl,nocto,rsize=32768,wsize=32768
Type=nfs
TimeoutSec=30

[Install]
WantedBy=multi-user.target
